.popup__submit-button_disabled {
    background-color: transparent;
    color: #000;
    opacity: 0.2;
    border: 1px solid #000;
    pointer-events: none;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 50px;
    margin-top: 48px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}

