.cards__element-remove {
    background-image: url("../../../images/cards-element-remove.svg");
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 0;
}

.cards__element-remove:hover {
    opacity: .6;
}